# Clock
NET "clk50"      LOC = "P50"  | IOSTANDARD = LVCMOS33 ;
NET "clk50"      TNM_NET = clk_period_grp_50;
TIMESPEC TS_clk_period_50 = PERIOD "clk_period_grp_50" 20.00ns HIGH;

# UART
NET "uart_txa"   LOC = "P51"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ; # USB
NET "uart_rxa"   LOC = "P55"  | IOSTANDARD = LVCMOS33 | PULLUP                  ; # USB
NET "uart_txb"   LOC = "P66"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "uart_rxb"   LOC = "P67"  | IOSTANDARD = LVCMOS33 | PULLUP                  ;

# LEDs
NET "led<0>"     LOC = "P138" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "led<1>"     LOC = "P137" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "led<2>"     LOC = "P134" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "led<3>"     LOC = "P133" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "led<4>"     LOC = "P120" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "led<5>"     LOC = "P119" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "led<6>"     LOC = "P118" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "led<7>"     LOC = "P117" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

# VIA
NET "via_pa<0>"  LOC = "P84"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pa<1>"  LOC = "P87"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pa<2>"  LOC = "P92"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pa<3>"  LOC = "P94"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pa<4>"  LOC = "P97"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pa<5>"  LOC = "P99"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pa<6>"  LOC = "P101" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pa<7>"  LOC = "P104" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_ca1"    LOC = "P111" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_ca2"    LOC = "P114" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pb<0>"  LOC = "P85"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pb<1>"  LOC = "P88"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pb<2>"  LOC = "P93"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pb<3>"  LOC = "P95"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pb<4>"  LOC = "P98"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pb<5>"  LOC = "P100" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pb<6>"  LOC = "P102" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_pb<7>"  LOC = "P105" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_cb1"    LOC = "P112" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "via_cb2"    LOC = "P115" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

# Switches
NET "sw1"        LOC = "P132" | IOSTANDARD = LVCMOS33                           ;
NET "sw2"        LOC = "P131" | IOSTANDARD = LVCMOS33                           ;

# PS/2 Keyboard, used to emulate 24-key keypad
NET "ps2_clk"    LOC = "P6"   | IOSTANDARD = LVCMOS33 | PULLUP                  ;
NET "ps2_data"   LOC = "P7"   | IOSTANDARD = LVCMOS33 | PULLUP                  ;

# Cassette
NET "cas_in"     LOC = "P139" | IOSTANDARD = LVCMOS33 | PULLUP                  ;
NET "cas_out"    LOC = "P140" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

# TM1638 8x 7SEG displau
NET "tm1638_dio" LOC = "P80"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "tm1638_clk" LOC = "P82"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "tm1638_stb" LOC = "P83"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

# tracing
NET "trace<0>"   LOC = "P8"   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trace<1>"   LOC = "P10"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trace<2>"   LOC = "P12"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trace<3>"   LOC = "P15"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trace<4>"   LOC = "P17"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trace<5>"   LOC = "P22"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trace<6>"   LOC = "P24"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trace<7>"   LOC = "P27"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trace<8>"   LOC = "P30"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trace<9>"   LOC = "P33"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trace<10>"  LOC = "P35"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
